{% extends "base.html" %}

{% block title %} Everton Tomalok - Contato {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">Everton Tomalok</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/index">Sobre mim</a>
            <a class="nav-link" href="/projetos">Projetos</a>
            <a class="nav-link active" href="/contato">Contato</a>
        </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <br>
        <br>
        <h1 class="cover-heading">Contate-me</h1>
        <p class="lead"><b>Email:</b> evertontomalok123@gmail.com</p>
        <p class="lead">Telefone: Informarei via email!</p>
    </main>
{% endblock %}