{% extends "base.html" %}

{% block title %} Everton Tomalok - Projetos {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">Everton Tomalok</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/index">Sobre mim</a>
            <a class="nav-link active" href="/projetos">Projetos</a>
            <a class="nav-link" href="/contato">Contato</a>
        </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <br>
        <br>
        <h1 class="cover-heading">Projetos</h1>
        <p class="lead"><b>- <a href="https://github.com/EvertonTomalok/emailtoolspython" target="_blank">emailtoolspython: </a> </b>
            Ferramenta util para validação sintática e/ou extração de emails de textos ou websites.
            <a href="https://github.com/EvertonTomalok/emailtoolspython" target="_blank"> (Veja no GitHub)</a>
        </p>
        <p class="lead"><b>- <a href="https://github.com/EvertonTomalok/preprocessingtext" target="_blank">preprocessingtext: </a> </b>
            Ferramenta para pré-processamento de textos, para ser utilizados para treinar modelos de classificação de sentimentos.
            <a href="https://github.com/EvertonTomalok/preprocessingtext" target="_blank"> (Veja no GitHub)</a>
        </p>
        <p class="lead"><b>- <a href="https://github.com/EvertonTomalok/crawling-smogon" target="_blank">crawling-smogon: </a> </b>
            Projeto de extração de dados do website <a href="https://www.smogon.com" target="_blank">smogon.com</a>, utilizando scrapy e selenium.
            <a href="https://github.com/EvertonTomalok/crawling-smogon" target="_blank"> (Veja no GitHub)</a>
        </p>
    </main>
{% endblock %}